
#background {
  -fx-background-image: url(/images/bg.jpg);
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-background-size: 1366, 693;
  -fx-effect: dropshadow(gaussian, #ffffff, 0, 0, 0, 50);
  -fx-padding: 40px;
}

#input {
  -fx-max-height: 600px;
  -fx-max-width: 450px;
  -fx-padding: 40px;
  -fx-spacing: 20px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0, 0, 4);
  -fx-alignment: center;
  -fx-background-color: #ffffff;
  -fx-background-radius: 20px;
}
.button {
  -fx-background-color: #007e00;
  -fx-font-family: "Arial", sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 17px;
  -fx-pref-height: 50px;
  -fx-pref-width: 400px;
  -fx-background-radius: 10px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 7, 0, 2, 2);
  -fx-font-family: Arial, sans-serif;
  -fx-text-fill: rgb(255, 255, 255);
}
.button:pressed {
  -fx-background-color: #02a302;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.452), 5, 0, 0, 2);
}
.button:hover {
  -fx-background-color: #02a302;
}
.field {
  -fx-font-size: 16px;
  -fx-font-family: Arial, sans-serif;
  -fx-min-height: 60px;
  -fx-max-width: 400px;
  -fx-min-width: 400px;
  -fx-background-radius: 10px;
  -fx-background-color: rgb(255, 255, 255);
  -fx-text-fill: rgb(17, 17, 17);
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 2, 2);
  -fx-prompt-text-fill: rgb(133, 133, 133);
}
#masuk {
  -fx-background-color: #27c227;
}
#masuk:hover {
  -fx-background-color: rgb(46, 241, 46);
}
#masuk:selected {
  -fx-background-color: rgb(46, 241, 46);
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.452), 5, 0, 0, 2);
}
.teks {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-font-family: "Arial", sans-serif;
  -fx-text-fill: rgb(7, 1, 1);
}

.custom-checkbox {
  -fx-background-color: transparent;
  -fx-padding: 0.166667em;
}

.custom-checkbox .box {
  -fx-background-color: transparent;
  -fx-border-color: #7c7c7c86;
  -fx-backgorund-radius: 10px;
  -fx-border-radius: 10px;
  -fx-shape: "M0,0 h 20 v 20 h -20 Z";
}

.custom-checkbox:selected .box {
  -fx-backgorund-radius: 10px;
  -fx-border-radius: 10px;
  -fx-background-color: transparent;
}

#plus {
  -fx-font-size: 17px;
  -fx-min-width: 40px;
  -fx-font-family: Arial, sans-serif;
  -fx-text-fill: #007e00;
  -fx-alignment: center;
  -fx-font-weight: bold;
}

#header {
  -fx-font-size: 40px;
  -fx-font-family: "Arial", sans-serif;
  -fx-text-fill: #007e00;
  -fx-font-weight: bold;
}

#nomor {
  -fx-font-size: 16px;
  -fx-font-family: Arial, sans-serif;
  -fx-min-height: 60px;
  -fx-max-width: 350px;
  -fx-min-width: 350px;
  -fx-background-radius: 10px;
  -fx-background-color: rgb(255, 255, 255);
  -fx-text-fill: rgb(17, 17, 17);
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 2, 2);
  -fx-prompt-text-fill: rgb(133, 133, 133);
}
#back {
  -fx-background-color: #007e00;
  -fx-font-family: "Arial", sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 15px;
  -fx-pref-height: 50px;
  -fx-max-width: 120px;
  -fx-background-radius: 10px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 0, 2);
  -fx-font-family: Arial, sans-serif;
  -fx-text-fill: rgb(255, 255, 255);
}
#back:hover {
  -fx-background-color: #008600;
}
#back:pressed {
  -fx-background-color: #008600;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.452), 5, 0, 0, 2);
}
#buangkit{
  -fx-font-size: 40px;
  -fx-font-family: "Bebas Neue", sans-serif;
  -fx-text-fill: #004e00;
  -fx-font-weight: bold;
}
.info{
  -fx-font-size: 10px;
  -fx-text-fill: rgb(216, 0, 0);
  -fx-font-family: Arial, sans-serif;
}